// ============================
// IMPORTS
// ============================
@import "options"
@import "default"

// ============================
// MAIN STYLES
// ============================

body
	height: 100vh

.container
	width: 100%
	max-width: nth($mediaBp, 1)
	margin-left: auto
	margin-right: auto
	padding-left: 15px
	padding-right: 15px

.header
	display: flex
	height: 27vh

.logo-img
	width: 50%
	background-image: url("../img/focus-logo-img.png")
	background-size: cover
	background-repeat: no-repeat

.logo-title
	background-color:  #F1EBE8
	display: flex
	align-items: center
	width: 50%
	justify-content: center

.main
	display: flex
	height: 34vh

.schedule
	background-color:  #F1EBE8
	width: 50%
	padding: 80px 100px

.location
	width: 50%
	display: flex

.location__address
	width: 50%

.location__invitation
	width: 50%
	background-color: #B9876A

.registration
	display: flex
	height: 34vh

.registration__form
	width: 50%
	background-color: #3F3736

.registration__condition
	display: flex
	width: 50%

.registration__condition__text
	width: 50%
	background-color: #F1EBE8

.registration__condition__title
	width: 50%

.footer
	height: 5vh
	background-color: #C08C6E





// ============================
// MEDIA
// ============================
@for $i from 1 to length($mediaBp)
	@media (max-width: nth($mediaBp, $i))
		.container
			max-width: nth($mediaBp, $i + 1)

// @media (max-width: nth($mediaBp, 1))
//
//
//@media (max-width: nth($mediaBp, 2))
//
//
//@media (max-width: nth($mediaBp, 3))
//
//
//@media (max-width: nth($mediaBp, 4))
//