@font-face {
    font-family: 'Heebo';
    src: url('Heebo/Heebo-Thin.eot');
    src: local('Heebo-Thin'),
        url('Heebo/Heebo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-Thin.woff') format('woff'),
        url('Heebo/Heebo-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Black.eot');
    src: local('Heebo-Black'),
        url('Heebo-Black.eot?#iefix') format('embedded-opentype'),
        url('Heebo-Black.woff') format('woff'),
        url('Heebo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo-Bold.eot');
    src: local('Heebo Bold'), local('Heebo-Bold'),
        url('Heebo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-Bold.woff') format('woff'),
        url('Heebo/Heebo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo/Heebo-Light.eot');
    src: local('Heebo-Light'),
        url('Heebo/Heebo-Light.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-Light.woff') format('woff'),
        url('Heebo/Heebo-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo/Heebo-Medium.eot');
    src: local('Heebo-Medium'),
        url('Heebo/Heebo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-Medium.woff') format('woff'),
        url('Heebo/Heebo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo/Heebo-ExtraBold.eot');
    src: local('Heebo-ExtraBold'),
        url('Heebo/Heebo-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-ExtraBold.woff') format('woff'),
        url('Heebo/Heebo-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('Heebo/Heebo-Regular.eot');
    src: local('Heebo-Regular'),
        url('Heebo/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Heebo/Heebo-Regular.woff') format('woff'),
        url('Heebo/Heebo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

